<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Um novo usuário com email "<%= @person.profile.email %>" está solicitando permissão
      para utilizar o sistema, para aceitar a solicitação, entre na página do administrador,
      na área da listagem de usuários e ative o usuário correspondente a esse email;
    </p>
    <hr />
    <p>Sistema de gerenciamento</p>
  </body>
</html>